* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: cornflowerblue;

    h1 {
        margin: 1em;
    }

    h3 {
        margin-top: 1em;
    }

    h1,
    h3 {
        color: #fff;
    }

    .todoList {

        .todoItem {
            width: 300px;
            display: flex;
            justify-content: space-between;
            padding: 1em;
            border: 1px solid black;
            border-radius: 3px;
            margin: 0.5em;
            background-color: blue;

            &:hover {
                background-color: lightblue;
            }

            p {
                color: #fff;
            }

            button {
                padding: 0.3em;

            }
        }

        .completed {
            background-color: green;

            p {
                text-decoration: line-through;
            }
        }
    }

    .addNewForm {
        display: flex;
        flex-direction: row;
        margin: 1em;
    }
}