* {
    margin: 0;
    padding: 0;

}

$main-font: 'Orbitron', sans-serif;


body {
    background-color: palevioletred;
    font-family: $main-font;

    button {
        padding: 0.5em;
        border: 3px solid black;
        box-shadow: 3px 3px black;
        cursor: pointer;
        font-family: $main-font;

        &:active {
            background-color: rebeccapurple;
            box-shadow: 0px 1px black;
        }
    }
}

.appContainer {

    width: 80%;
    margin: 2em auto;
    background-color: blueviolet;
    border: 3px solid black;
    box-shadow: 6px 6px black;
    text-align: center;

    h1 {
        margin: 0.5em;
        font-size: 1.7em;
        text-align: center;
    }

    h3 {
        margin-top: 1em;
    }

    h1,
    h3 {
        color: #fff;
    }

    .todoList {


        .todoItem {

            display: flex;
            justify-content: space-between;
            padding: 1em;
            border: 1px solid black;
            border-radius: 3px;
            margin: 1em;
            background-color: rgb(255, 30, 0);
            border: 3px solid black;
            box-shadow: 3px 3px black;
            gap: 2em;

            &:hover {
                background-color: lightblue;
            }

            p {
                color: #fff;
            }


        }

        .completed {
            background-color: green;

            p {
                text-decoration: line-through;
            }
        }
    }

    .addNewForm {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1em auto;
        width: 50%;
        gap: 1em;

        input {
            font-family: $main-font;
            text-align: center;
            padding: 0.3em;
            font-size: 1.3em;
            color: purple;
            outline: 1px solid yellow;
            max-width: 100%;
        }

    }


}